In [104]:
# Import libraries
import pandas as pd
import numpy as np

In [105]:
# Load Data
df = pd.read_csv('testms.csv')

In [106]:
df.head()

,s.no,Timestamp,Age,Gender,Country,state,self_employed,family_history,work_interfere,no_employees,...,leave,mental_health_consequence,phys_health_consequence,coworkers,supervisor,mental_health_interview,phys_health_interview,mental_vs_physical,obs_consequence,comments
0,1,2014-08-29 09:29:37,25,Male,United States,PA,No,Yes,Often,6-25,...,Somewhat easy,No,No,Yes,Yes,Maybe,Maybe,Don't know,No,NaN
1,2,2014-08-29 09:31:37,42,male,United States,IN,No,Yes,Sometimes,6-25,...,Don't know,Maybe,No,Some of them,Yes,No,Maybe,Don't know,No,NaN
2,3,2014-08-29 09:31:49,34,male,United States,PA,No,Yes,Often,100-500,...,Very easy,No,No,Yes,Yes,Maybe,Maybe,Don't know,No,NaN
3,4,2014-08-29 09:33:43,26,female,United States,OH,No,No,Sometimes,26-100,...,Don't know,Maybe,No,Some of them,No,Maybe,Maybe,Don't know,Yes,NaN
4,5,2014-08-29 09:35:46,35,Male,United Kingdom,NaN,No,Yes,Sometimes,1-5,...,Very easy,Yes,Yes,Some of them,Some of them,No,Maybe,Yes,Yes,NaN

In [107]:
df.columns.values

array(['s.no', 'Timestamp', 'Age', 'Gender', 'Country', 'state',
       'self_employed', 'family_history', 'work_interfere',
       'no_employees', 'remote_work', 'tech_company', 'benefits',
       'care_options', 'wellness_program', 'seek_help', 'anonymity',
       'leave', 'mental_health_consequence', 'phys_health_consequence',
       'coworkers', 'supervisor', 'mental_health_interview',
       'phys_health_interview', 'mental_vs_physical', 'obs_consequence',
       'comments'], dtype=object)

In [108]:
# Convert time stamp column data type to datetime
df['Timestamp'] = pd.to_datetime(df['Timestamp'])
df['Timestamp'] = df['Timestamp'].dt.date

In [109]:
# convert invalid data to NaN
df.loc[(df['Age'] < 18) |  (df['Age'] > 80),"Age"]  = np.nan

In [110]:
df.loc[(df['Age'] < 18) |  (df['Age'] > 80),"Age"]

Series([], Name: Age, dtype: float64)

In [111]:
# 
# df['Gender'].value_counts()
M_list = ["male","m","Make","Cis Male","Man","Mal","Male-ish","maile","male leaning androgynous","msle","Mail","cis male","Malr","Cis Man"]
F_list = ["Female","f","woman","cis female","femake","cis-female/femme","female (cis)","femail"]
T_list = ["queer","trans-female","female (trans)","neuter","non-binary","enby","genderqueer","agender","androgyne","trans woman","fluid","ostensibly male, unsure what that really means","something kinda male?","Guy (-ish) ^_^","nah","a little about you","p"]

In [112]:
df['Gender'].str.lower().str.strip().value_counts()

male                                              166
female                                             47
m                                                  29
f                                                  10
female (trans)                                      1
p                                                   1
ostensibly male, unsure what that really means      1
femail                                              1
cis man                                             1
woman                                               1
malr                                                1
Name: Gender, dtype: int64

In [113]:
df.loc[df['Gender'].str.lower().str.strip().isin([x.lower().strip() for x in M_list]),"Gender"] = "M"
df.loc[df['Gender'].str.lower().str.strip().isin([x.lower().strip() for x in F_list]),"Gender"] = "F"
df.loc[df['Gender'].str.lower().str.strip().isin([x.lower().strip() for x in T_list]),"Gender"] = "T"
# df.loc[df['Gender'].isin([M_list]),"Gender"]="M"

In [114]:
#Set state NaN if country not United States
df.loc[(df["Country"] != "United States"),"state"] = "Other"

In [115]:
df.loc[(df["state"].isnull()),"state"] = "Other"
df.loc[(df["self_employed"].isnull()),"self_employed"] = "Other"

In [116]:
print(df["state"].value_counts())
df["self_employed"].value_counts()

Other    116
CA        19
IN        12
WA        11
NY        10
TN         9
OH         8
IL         8
TX         7
MN         7
PA         6
FL         6
OR         6
NC         5
UT         4
AL         4
NJ         3
MI         3
WI         3
VA         2
SD         2
GA         2
MO         1
VT         1
MD         1
CT         1
SC         1
OK         1
Name: state, dtype: int64

No     236
Yes     23
Name: self_employed, dtype: int64

In [117]:
df["family_history"].value_counts()

No     148
Yes    111
Name: family_history, dtype: int64

In [118]:
df["work_interfere"].value_counts()

Sometimes    103
Often         45
Never         42
Rarely        31
Name: work_interfere, dtype: int64

In [119]:
df.loc[(df["work_interfere"].isnull() ),"work_interfere"] = "Not Ill"

In [120]:
df["no_employees"].value_counts()

More than 1000    65
26-100            60
6-25              59
100-500           35
1-5               33
500-1000           7
Name: no_employees, dtype: int64

In [121]:
df["no_employees"] = df["no_employees"].apply(str)

In [122]:
df["remote_work"].value_counts()

No     177
Yes     82
Name: remote_work, dtype: int64

In [123]:
df.columns

Index(['s.no', 'Timestamp', 'Age', 'Gender', 'Country', 'state',
       'self_employed', 'family_history', 'work_interfere', 'no_employees',
       'remote_work', 'tech_company', 'benefits', 'care_options',
       'wellness_program', 'seek_help', 'anonymity', 'leave',
       'mental_health_consequence', 'phys_health_consequence', 'coworkers',
       'supervisor', 'mental_health_interview', 'phys_health_interview',
       'mental_vs_physical', 'obs_consequence', 'comments'],
      dtype='object')

In [124]:
df["seek_help"].value_counts()

No            138
Don't know     67
Yes            54
Name: seek_help, dtype: int64

In [125]:
df["anonymity"].value_counts()

Don't know    165
Yes            80
No             14
Name: anonymity, dtype: int64

In [126]:
df["leave"].value_counts()

Don't know            125
Somewhat easy          60
Very easy              36
Somewhat difficult     20
Very difficult         18
Name: leave, dtype: int64

In [127]:
df["mental_health_consequence"].value_counts()

Maybe    114
No        83
Yes       62
Name: mental_health_consequence, dtype: int64

In [128]:
df_c = df.copy()

In [129]:
# df_c.columns[df_c.isnull().mean() > 0.002]

In [130]:

# df_c.loc[df_c.isnull().mean(axis=1) > 0.1]

In [131]:
df_c["Age"] = df_c["Age"].fillna(df_c["Age"].median())

In [132]:
df_c["Age"].isnull().any()

False

In [133]:
df_c["Age_bin"] = pd.cut(df_c["Age"],bins=[0,27,36,45,54,100],labels=["Age1","Age2","Age3","Age4","Age5"])

In [134]:
df_c["Age_bin"].value_counts()

Age2    115
Age1     70
Age3     62
Age4      9
Age5      3
Name: Age_bin, dtype: int64

In [135]:

col_2_rem = ['Timestamp','state','comments',"Age"]
df_c.drop(col_2_rem,axis=1,inplace=True)

In [136]:
df_c.to_csv("clean_final_T.csv",index=False)

In [137]:
df_c.head()

,s.no,Gender,Country,self_employed,family_history,work_interfere,no_employees,remote_work,tech_company,benefits,...,leave,mental_health_consequence,phys_health_consequence,coworkers,supervisor,mental_health_interview,phys_health_interview,mental_vs_physical,obs_consequence,Age_bin
0,1,M,United States,No,Yes,Often,6-25,Yes,Yes,Yes,...,Somewhat easy,No,No,Yes,Yes,Maybe,Maybe,Don't know,No,Age1
1,2,M,United States,No,Yes,Sometimes,6-25,Yes,Yes,Don't know,...,Don't know,Maybe,No,Some of them,Yes,No,Maybe,Don't know,No,Age3
2,3,M,United States,No,Yes,Often,100-500,No,Yes,Yes,...,Very easy,No,No,Yes,Yes,Maybe,Maybe,Don't know,No,Age2
3,4,F,United States,No,No,Sometimes,26-100,Yes,Yes,Don't know,...,Don't know,Maybe,No,Some of them,No,Maybe,Maybe,Don't know,Yes,Age1
4,5,M,United Kingdom,No,Yes,Sometimes,1-5,No,Yes,No,...,Very easy,Yes,Yes,Some of them,Some of them,No,Maybe,Yes,Yes,Age2