In [227]:
# Import libraries
import pandas as pd
import numpy as np

In [228]:
# Load Data
df = pd.read_csv('trainms.csv')

In [229]:
df.head()

,s.no,Timestamp,Age,Gender,Country,state,self_employed,family_history,treatment,work_interfere,...,leave,mental_health_consequence,phys_health_consequence,coworkers,supervisor,mental_health_interview,phys_health_interview,mental_vs_physical,obs_consequence,comments
0,1,2014-08-27 11:29:31,37,Female,United States,IL,NaN,No,Yes,Often,...,Somewhat easy,No,No,Some of them,Yes,No,Maybe,Yes,No,NaN
1,2,2014-08-27 11:29:37,44,M,United States,IN,NaN,No,No,Rarely,...,Don't know,Maybe,No,No,No,No,No,Don't know,No,NaN
2,3,2014-08-27 11:29:44,32,Male,Canada,NaN,NaN,No,No,Rarely,...,Somewhat difficult,No,No,Yes,Yes,Yes,Yes,No,No,NaN
3,4,2014-08-27 11:29:46,31,Male,United Kingdom,NaN,NaN,Yes,Yes,Often,...,Somewhat difficult,Yes,Yes,Some of them,No,Maybe,Maybe,No,Yes,NaN
4,5,2014-08-27 11:30:22,31,Male,United States,TX,NaN,No,No,Never,...,Don't know,No,No,Some of them,Yes,Yes,Yes,Don't know,No,NaN

In [230]:
df.columns.values

array(['s.no', 'Timestamp', 'Age', 'Gender', 'Country', 'state',
       'self_employed', 'family_history', 'treatment', 'work_interfere',
       'no_employees', 'remote_work', 'tech_company', 'benefits',
       'care_options', 'wellness_program', 'seek_help', 'anonymity',
       'leave', 'mental_health_consequence', 'phys_health_consequence',
       'coworkers', 'supervisor', 'mental_health_interview',
       'phys_health_interview', 'mental_vs_physical', 'obs_consequence',
       'comments'], dtype=object)

In [231]:
# Convert time stamp column data type to datetime
df['Timestamp'] = pd.to_datetime(df['Timestamp'])
df['Timestamp'] = df['Timestamp'].dt.date

In [232]:
# convert invalid data to NaN
df.loc[(df['Age'] < 18) |  (df['Age'] > 80),"Age"]  = np.nan

In [233]:
df.loc[(df['Age'] < 18) |  (df['Age'] > 80),"Age"]

Series([], Name: Age, dtype: float64)

In [234]:
# 
# df['Gender'].value_counts()
M_list = ["male","m","Make","Cis Male","Man","Mal","Male-ish","maile","male leaning androgynous","msle","Mail","cis male","Malr"]
F_list = ["Female","f","woman","cis female","femake","cis-female/femme","female (cis)","femail"]
T_list = ["queer","trans-female","female (trans)","neuter","non-binary","enby","genderqueer","agender","androgyne","trans woman","fluid","ostensibly male, unsure what that really means","something kinda male?","Guy (-ish) ^_^","nah","a little about you","p"]

In [235]:
df['Gender'].str.lower().str.strip().value_counts()

male                        659
female                      139
m                           121
f                            44
make                          4
woman                         3
cis male                      3
man                           2
cis female                    1
queer                         1
mail                          1
trans-female                  1
nah                           1
female (trans)                1
neuter                        1
non-binary                    1
enby                          1
maile                         1
genderqueer                   1
male leaning androgynous      1
msle                          1
a little about you            1
agender                       1
femake                        1
cis-female/femme              1
guy (-ish) ^_^                1
androgyne                     1
female (cis)                  1
trans woman                   1
fluid                         1
something kinda male?         1
mal                           1
male-ish                      1
Name: Gender, dtype: int64

In [236]:
df.loc[df['Gender'].str.lower().str.strip().isin([x.lower().strip() for x in M_list]),"Gender"] = "M"
df.loc[df['Gender'].str.lower().str.strip().isin([x.lower().strip() for x in F_list]),"Gender"] = "F"
df.loc[df['Gender'].str.lower().str.strip().isin([x.lower().strip() for x in T_list]),"Gender"] = "T"
# df.loc[df['Gender'].isin([M_list]),"Gender"]="M"

In [237]:
#Set state NaN if country not United States
df.loc[(df["Country"] != "United States"),"state"] = "Other"

In [238]:
df.loc[(df["state"].isnull()),"state"] = "Other"
df.loc[(df["self_employed"].isnull()),"self_employed"] = "Other"

In [239]:
print(df["state"].value_counts())
df["self_employed"].value_counts()

Other    403
CA       119
WA        59
NY        46
TX        37
TN        36
OR        23
PA        23
OH        22
MA        20
IL        20
MI        19
IN        15
MN        14
VA        12
MO        11
GA        10
CO         9
NC         9
FL         9
WI         9
AZ         7
UT         6
MD         6
KY         5
OK         5
DC         4
IA         4
SC         4
AL         4
NV         3
CT         3
NJ         3
NH         3
KS         3
NE         2
NM         2
VT         2
WY         2
ID         1
MS         1
RI         1
WV         1
ME         1
LA         1
SD         1
Name: state, dtype: int64

No       859
Yes      123
Other     18
Name: self_employed, dtype: int64

In [240]:
df["family_history"].value_counts()

No     619
Yes    381
Name: family_history, dtype: int64

In [241]:
df["work_interfere"].value_counts()

Sometimes    362
Never        171
Rarely       142
Often         99
Name: work_interfere, dtype: int64

In [242]:
df.loc[(df["work_interfere"].isnull() ),"work_interfere"] = "Not Ill"

In [243]:
df["no_employees"].value_counts()

6-25              231
26-100            229
More than 1000    217
100-500           141
1-5               129
500-1000           53
Name: no_employees, dtype: int64

In [244]:
df["no_employees"] = df["no_employees"].apply(str)

In [245]:
df["remote_work"].value_counts()

No     706
Yes    294
Name: remote_work, dtype: int64

In [246]:
df.columns

Index(['s.no', 'Timestamp', 'Age', 'Gender', 'Country', 'state',
       'self_employed', 'family_history', 'treatment', 'work_interfere',
       'no_employees', 'remote_work', 'tech_company', 'benefits',
       'care_options', 'wellness_program', 'seek_help', 'anonymity', 'leave',
       'mental_health_consequence', 'phys_health_consequence', 'coworkers',
       'supervisor', 'mental_health_interview', 'phys_health_interview',
       'mental_vs_physical', 'obs_consequence', 'comments'],
      dtype='object')

In [247]:
df["seek_help"].value_counts()

No            508
Don't know    296
Yes           196
Name: seek_help, dtype: int64

In [248]:
df["anonymity"].value_counts()

Don't know    654
Yes           295
No             51
Name: anonymity, dtype: int64

In [249]:
df["leave"].value_counts()

Don't know            438
Somewhat easy         206
Very easy             170
Somewhat difficult    106
Very difficult         80
Name: leave, dtype: int64

In [250]:
df["mental_health_consequence"].value_counts()

No       407
Maybe    363
Yes      230
Name: mental_health_consequence, dtype: int64

In [251]:
df_c = df.copy()

In [252]:
# df_c.columns[df_c.isnull().mean() > 0.002]

In [253]:

# df_c.loc[df_c.isnull().mean(axis=1) > 0.1]

In [254]:
df_c["Age"] = df_c["Age"].fillna(df_c["Age"].median())

In [255]:
df_c["Age"].isnull().any()

False

In [256]:
df_c["Age_bin"] = pd.cut(df_c["Age"],bins=[0,27,36,45,54,100],labels=["Age1","Age2","Age3","Age4","Age5"])

In [257]:
df_c["Age_bin"].value_counts()

Age2    484
Age1    293
Age3    179
Age4     30
Age5     14
Name: Age_bin, dtype: int64

In [258]:

col_2_rem = ['s.no', 'Timestamp','state','comments',"Age"]
df_c.drop(col_2_rem,axis=1,inplace=True)

In [259]:
df_c.to_csv("clean_data_final.csv",index=False)

In [260]:
df_c.columns

Index(['Gender', 'Country', 'self_employed', 'family_history', 'treatment',
       'work_interfere', 'no_employees', 'remote_work', 'tech_company',
       'benefits', 'care_options', 'wellness_program', 'seek_help',
       'anonymity', 'leave', 'mental_health_consequence',
       'phys_health_consequence', 'coworkers', 'supervisor',
       'mental_health_interview', 'phys_health_interview',
       'mental_vs_physical', 'obs_consequence', 'Age_bin'],
      dtype='object')